{% extends 'base.html' %}

{% block content %}
<nav>
    <i>Главная</i>
    <a href="">Создать заявку</a>
    <a href="{{ url_for('login') }}">Вход</a>
    <a href="">Выход</a>
</nav>
    <h1>Панель администратора</h1>

    <h2>Статусы</h2>
    {% if statuses %}
        {% for status in statuses %}
            <ul>
                <li><form action="{{ url_for('delete_status')}}" method="post">
                    {{ status }}
                    <input type="hidden" name="id" value="{{status.id}}">
                    <button type="submit">Удалить</button>
                </form></li>
            </ul>
        {% endfor %}
    {% else %}
        <i>Статусы отсутствут</i>
    {% endif %}
    <form action="" method="post">
            {{ form_add_status.csrf_token }}
        <p>{{ form_add_status.item_status.label }}
        {{ form_add_status.item_status }}</p>
        <p>{{ form_add_status.submit_status }}</p>
    </form>

    <h2>Пользователи</h2>
    {% for user in users %}
        <ul>
            <li>Имя пользователя: {{ user.username }}, права: {{user.role}}</li>
        </ul>
    {% endfor %}
    <a href="{{ url_for('create_user')}}">Добавить пользователя</a>
    <h2>Устройства</h2>
    {% for device in devices %}
    <ul>
        <li>
            <form action="{{ url_for('delete_device')}}" method="post">
                Название устройства: {{ device.name }}, вендор: {{ device.vendor }}
                <input type="hidden" name="id" value="{{device.id}}">
                <button type="submit">Удалить</button>
            </form>
        </li>
    </ul>
    {% endfor %}
    <form action="" method="post">
        {{ form_add_device.csrf_token }}
        <p>
            {{ form_add_device.item_device.label }}
            {{ form_add_device.item_device }}
        </p>
        <p>
            {{ form_add_device.vendor_id.label }}
            {{ form_add_device.vendor_id }}
        </p>
        <p>{{ form_add_device.submit_device }}</p>
    </form>
    <h2>Вендоры</h2>
    {% for vendor in vendors %}
    <ul>
        <li>
            <form action="{{ url_for('delete_vendor')}}" method="post">
            Название вендора: {{ vendor.name }}
            <input type="hidden" name="id" value="{{vendor.id}}">
            <button type="submit">Удалить</button>
            </form>
        </li>
    </ul>
    {% endfor %}
    <form action="" method="post">
        {{ form_add_vendor.csrf_token }}
        <p>{{ form_add_vendor.item_vendor.label }}
        {{ form_add_vendor.item_vendor }}</p>
        <p>{{ form_add_vendor.submit_vendor }}</p>
    </form>
    <h2>Источники</h2>
    {% for source in sources %}
    <ul>
        <li>
            <form action="{{ url_for('delete_source')}}" method="post">
            Источник: {{ source.name }}
            <input type="hidden" name="id" value="{{source.id}}">
            <button type="submit">Удалить</button>
            </form>
        </li>
    </ul>
    {% endfor %}
    <form action="" method="post">
        {{ form_add_source.csrf_token }}
        <p>{{ form_add_source.item_source.label }}
        {{ form_add_source.item_source }}</p>
        <p>{{ form_add_source.submit_source }}</p>
    </form>

{% endblock content %}