{% extends 'base.html' %}

{% block content %}
<nav>
    <i>Главная</i>
    <a href="{{ url_for('new_request') }}">Создать заявку</a>
    {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Вход</a>
    {% else %}
        <i>[{{ current_user.username }}]</i>
        <a href="/search">Поиск</a>
        <a href="{{ url_for('logout') }}">Выход</a>
    {% endif %}
</nav>
    <h1>Главная</h1>
        <table border="1">
            <tr>
                <td>Адрес</td>
                <td>ФИО</td>
                <td>Телефон</td>
                <td>Координаты</td>
                <td>Автор</td>
                <td>Создана</td>
                <td>Статус</td>
                <td>Действия</td>
            </tr>
            {% for request in dataset %}
            <tr>
                <td>{{ request.address }}</td>
                <td>{{ request.name }}</td>
                <td>{{ request.phone }}</td>
                <td>{{ request.coordinates }}</td>
                <td>{{ request.author.username }}</td>
                <td>{{ request.timestap }}</td>
                <td>{{ request.status.status_desc }}</td>
                <td>
                    <a href="{{ url_for('request_item', request_id=request.id) }}">Просмотр</a>/
                    <a href="{{ url_for('delete_request', request_id=request.id) }}">Удаление</a>/
                    <a href="{{ url_for('edit_request', request_id=request.id) }}">Редактирование</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        
    
{% endblock content %}