{% extends 'base.html' %}

{% block content %}
<nav>
    <a href="/">Главная</a>
    <a href="{{ url_for('new_request') }}">Создать заявку</a>
    {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Вход</a>
    {% else %}
        <i>[{{ current_user.username }}]</i>
        <i>Поиск</i>
        <a href="{{ url_for('logout') }}">Выход</a>
    {% endif %}
</nav>
    <h1>Главная</h1>
        <table border="1">
            <tr>
                <td>Адрес</td>
                <td>ФИО</td>
                <td>Телефон</td>
                <td>Координаты</td>
                <td>Автор</td>
                <td>Создана</td>
                <td>Статус</td>
                <td>Действия</td>
            </tr>
            <div class="search">
                <h3>Поиск</h3>
                <form action="" method="get">
                    <p>
                        {{ search_form.address.label }}
                        {{ search_form.address }}
                        {% for error in search_form.address.errors %}
                            <span style="color: red">{{ error }}</span>
                         {% endfor %}
                    </p>
                    <p>
                        {{ search_form.name.label }}
                        {{ search_form.name }}
                        {% for error in search_form.name.errors %}
                            <span style="color: red">{{ error }}</span>
                         {% endfor %}
                    </p>
                    <p>
                        {{ search_form.phone.label }}
                        {{ search_form.phone }}
                        {% for error in search_form.phone.errors %}
                            <span style="color: red">{{ error }}</span>
                         {% endfor %}
                    </p>
                    <p>
                        {{ search_form.source.label }}
                        {{ search_form.source }}
                        {% for error in search_form.source.errors %}
                            <span style="color: red">{{ error }}</span>
                         {% endfor %}
                    </p>
                    <p>
                        {{ search_form.base.label }}
                        {{ search_form.base }}
                        {% for error in search_form.base.errors %}
                            <span style="color: red">{{ error }}</span>
                         {% endfor %}
                    </p>
                    <p>
                        {{ search_form.device.label }}
                        {{ search_form.device }}
                        {% for error in search_form.device.errors %}
                            <span style="color: red">{{ error }}</span>
                         {% endfor %}
                    </p>
                    <p>Дата с <input type="date" name="start-date"> по <input type="date" name="end-date"></p>
                    <p>
                        {{ search_form.status.label }}
                        {{ search_form.status }}
                        {% for error in search_form.status.errors %}
                            <span style="color: red">{{ error }}</span>
                         {% endfor %}
                    </p>
                    <p>{{ search_form.submit(value='Поиск') }}</p>
                </form>
            </div>
            {% for request in dataset %}
            <tr>
                <td>{{ request.address }}</td>
                <td>{{ request.name }}</td>
                <td>{{ request.phone }}</td>
                <td>{{ request.coordinates }}</td>
                <td>{{ request.author.username }}</td>
                <td>{{ request.timestap }}</td>
                <td>{{ request.status.status_desc }}</td>
                <td>
                    <a href="{{ url_for('request_item', request_id=request.id) }}">Просмотр</a>/
                    <a href="{{ url_for('delete_request', request_id=request.id) }}">Удаление</a>/
                    <a href="{{ url_for('edit_request', request_id=request.id) }}">Редактирование</a>
                </td>
            </tr>
            {% endfor %}
        </table>

        <div>
            {% if dataset.pages > 1 %}
                {% if dataset.has_prev %}
                    <a href="{{ url_for('search', page=dataset.prev_num) }}&{{request.query_string.decode()}}"><<<</a>
                {% endif %}
                {% for iter_page in dataset.iter_pages() %}
                    {% if iter_page == dataset.page %}
                        <i>{{ dataset.page }}</i>
                    {% else %}
                        <a href="{{ url_for('search', page=iter_page) }}&{{request.query_string.decode()}}">{{ iter_page }}</a>
                    {% endif %}
                {% endfor %}

                {% if dataset.has_next %}
                    <a href="{{ url_for('search', page=dataset.next_num) }}&{{request.query_string.decode()}}">>>></a>
                {% endif %}
            {% endif %}
        </div>
    
{% endblock content %}