{% extends 'base.html' %}

{% block content %}
    <nav>
        <a href="{{ url_for('index') }}">Главная</a>
        <a href="{{ url_for('new_request') }}">Создать заявку</a>
        {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Вход</a>
        {% else %}
            <i>[{{ current_user.username }}]</i>
            <a href="{{ url_for('logout') }}">Выход</a>
        {% endif %}
    </nav>
    <a href="{{ url_for('index') }}">Назад</a>
    <div>
        <table>
            <tr>
                <td>Адрес</td>
                <td>{{ data.address }}</td>
            </tr>
            <tr>
            <tr>
                <td>ФИО</td>
                <td>{{ data.name }}</td>
            </tr>
            <tr>
                <td>Телефон</td>
                <td>{{ data.phone }}</td>
            </tr>
            {% if data.source_id %}
            <tr>
                <td>Источник</td>
                <td>{{ data.source }}</td>
            </tr>
        {% endif %}
            {% if data.base %}
                <tr>
                    <td>База</td>
                    <td>{{ data.base }}</td>
                </tr>
            {% endif %}
            {% if data.device_id %}
                <tr>
                    <td>Оборудование</td>
                    <td>{{ data.device }}</td>
                </tr>
            {% endif %}
            {% if data.auth_type %}
                <tr>
                    <td>Тип авторизации</td>
                    <td>{{ data.auth_type }}</td>
                </tr>
            {% endif %}
            {% if data.coordinates %}
                <tr>
                    <td>Координаты</td>
                    <td>{{ data.coordinates }}</td>
                </tr>
            {% endif %}
           
        
        </table>
        <div class="actions">
            <a href="{{ url_for('edit_request', request_id=data.id) }}">Изменить заявку</a>
        </div>
        <div class="comments">
            <ul>
                {% for comment in comments %}
                <li class="comment"></li>
                    {{ comment.text }}, автор {{ comment.author.username }}
                </li>
                {% endfor %}
            </ul>
            <div class="add-comment">
                <form action="{{url_for('add_comment')}}" method="post">
                    {{ comment_form.csrf_token }}
                    {{ comment_form.author_id(type="hidden", value=current_user.id) }}
                    {{ comment_form.request_id(type="hidden", value=data.id) }}
                    {{ comment_form.comment_text }}
                    {{ comment_form.submit_comment }}
                </form>
            </div>
        </div>
    </div>
{% endblock content %}